/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #222;
  font: small Lucida Grande, Trebuchet MS, sans-serif;
  font-size: small;
  text-align: center;
  margin: 0;
  padding: 0 3em;
  color: #fff
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #333;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  margin: auto 2em;
  line-height: 1.5em;
  background: white;
  color: #333;
  clear: both;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

#header {
	background: url(/img/header-bg.png) repeat-x top left;
	height: 100px;
}

#header hr { display: none }
#header a img { border: none; float: left; margin: 0; padding: 0; }

#content {
  clear: both;
  padding: 0.5em 1.5em;
}

#footer {
  clear: both;
  color: #888;
  border-top: 1px solid #ccc;
  padding: 1em 1em 0 1em;
  text-align: right;
  background-color: #f7f7f7;
}

#footer :link, #footer :visited { color: #bbb; }
#footer p { margin: 0 }
#footer p.left {
  float: left;
	margin: 0;
  padding: 0;
}
#footer p.right {
  float: right;
  text-align: right;
}

#footer .donation {
	/*float: right;*/
	margin: 0;
	padding: 0;
}

#footer fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
